API_KEY="your-api-key"
MODEL_NAME=sentence-transformers/all-mpnet-base-v2
HOST=0.0.0.0
PORT=8000

# Ngrok Cấu Hình (Lấy từ https://dashboard.ngrok.com)
NGROK_AUTHTOKEN=your_authtoken_here
NGROK_DOMAIN=your_static_domain_here.ngrok-free.app
